            <article id="idea_<%= idea.id %>" class="idea <%= idea.categoria.nombre.downcase.gsub(/[^a-z0-9_-]/, '-').squeeze('-') %>" data-filter="<%= '.' + idea.categoria.nombre.downcase.gsub(/[^a-z0-9_-]/, '-').squeeze('-') %>" data-date="<%= idea.created_at %>">
                <aside class="tag">
                    <a href="" class="categoria"><%= idea.categoria.nombre.downcase %></a>
                </aside>
                <div class="content">
                    <a href="" class="modal-open"><%= idea.texto %></a>
                </div>
            </article>
                        