    <div class="container pure-g">
        <header class="pure-u-1">
            <h1 class="title">Expresómetro</h1>
            <img src="<%= image_path("mural.png") %>" alt="">
        </header>
        <section class="grid pure-u-1 form">
            <%= render partial: 'form', locals: { idea: @idea} %>
            <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: "ui alert" %>
            <% end %>
            </aside>
        </section>
        <section class="pure-u-1 pure-menu pure-menu-horizontal filtros">
            <ul class="pure-menu-list">
                <li class="pure-menu-item todas"><a href="" class="pure-menu-link">Todas</a></li>
                <li class="pure-menu-item mas-votadas"><a href="" class="pure-menu-link">Más Votadas</a></li>
                <li class="pure-menu-item mas-nuevas"><a href="" class="pure-menu-link">Más Nuevas</a></li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="" id="etiquetas-nav" class="pure-menu-link">Etiqueta</a>
                    <ul class="pure-menu-children etiquetas">
                        <li class="pure-menu-item" data-filter=".comida-bebida"><a href="" class="pure-menu-link comida-bebida">Comida/Bebida</a></li>
                        <li class="pure-menu-item" data-filter=".capacitaciones"><a href="" class="pure-menu-link capacitaciones">Capacitaciones</a></li>
                        <li class="pure-menu-item" data-filter=".recreacion"><a href="" class="pure-menu-link recreacion">Recreación</a></li>
                        <li class="pure-menu-item" data-filter=".edificio"><a href="" class="pure-menu-link edificio">Edificio</a></li>
                        <li class="pure-menu-item" data-filter=".comunicacion"><a href="" class="pure-menu-link comunicacion">Comunicación</a></li>
                        <li class="pure-menu-item" data-filter=".beneficios"><a href="" class="pure-menu-link beneficios">Beneficios</a></li>
                        <li class="pure-menu-item" data-filter=".insumos"><a href="" class="pure-menu-link insumos">Insumos</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="grid pure-u-1 ideas-wrapper">
        <a href="<%= persona_omniauth_authorize_path(:open_id) %>">login<a>
            <div class="ideas">
                <div class="item-sizer"></div>
                <div class="gutter-sizer"></div>
                <% @ideas.each do |idea| %>
                    <%= render partial: 'idea', locals: { idea: idea} %>
                <% end %>
            </div>
         </section>
         <section id="comments-modal">
            <article class="idea" data-filter="" data-date="">
                <aside class="tag">
                    <span class="categoria"></span>
                </aside>
                <div class="content">
                    
                </div>
                <aside class="metadata">
                    <div class="nombre"></div>
                    <div class="area"></div>
                </aside>
                <aside class="actionables">
                    <div class="votar">
                            <img src="<%= image_path("corazon.svg") %>">
                        <span class="votos"></span>
                    </div>
                </aside>
            </article>
            <div class="estado">
                <span class="header">Estado propuesta - </span>
                <div class="texto"></div>
                <div class="nombre"></div>
            </div>
            <div class="comentarios">
                <span class="header">Comentarios</span>
                <%= render partial: 'comentarios/form', locals: { idea: @idea, comentario: @new_comentario} %>
                <div class="comentarios-wrapper">
                    <div class="comentario">
                        <div class="nombre"></div>
                        <div class="texto"></div>
                    </div>
                </div>
            </div>
         </section>
    </div>