<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Idea Board</title>
    <meta name="description" content="Internal Idea Board">
    <meta name="author" content="Dirección General de Gobierno Abierto">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
    <%= javascript_include_tag "semantic_ui" %>
</body>
</html>
